/* css reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style :none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align :middle;
}

/* main styles */

/*
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
#317CA7
#586973
#50D9C1
#DE9589
#A62D31
*/

body {
  font-family: 'Poppins', sans-serif;
  background: #B1D2E6;
}

header {
  background: rgba(100,245,100,1);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 2rem;
  color : #fff;
  background : #317CA7;
}

aside {
  min-height: 450px;
}
